[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINO6RABAsnCWBO57+YfUVlKtzogRPFZwI1fawohCnGSn
	name = Kane Knight
	email = tech@kaneknight.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main